//---------- Acimda de 1000px  --------------//
@media (min-width: 1000px) {
  .content {
    text-align: left;
    padding: 0px;
    width: 500px;
  }

  .texto_g {
    font-size: 45px;
    padding: 0px;
    margin: 0px;
  }
  .texto_m {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
  }
  .texto_p {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
  }
  .texto_pp {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
  }
}
//---------- Acimda de 1000px  --------------//

@media (max-width: 1000px) {
  .content {
    text-align: left;
    padding: 0px;
    width: 500px;
  }

  .texto_g {
    font-size: 45px;
    padding: 0px;
    margin: 0px;
  }
  .texto_m {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
  }
  .texto_p {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
  }
  .texto_pp {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
  }
}

//---------- Abaixo de 600px  --------------//

@media (max-width: 700px) {
  #fifthpage_conteudo,
  #thirdpage_conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .content {
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  .texto_g {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
  }
  .texto_m {
    font-size: 25px;
    padding: 0px;
    margin: 0px;
  }
  .texto_p {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
  }
  .texto_pp {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
  }
}
